<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>

        <%# 「モデル名」にはUserモデルであれば@userを渡しましょう。%>
        <%# 「新規登録機能へのパス」は、devise導入後にrails routesを実行してdevise/registrations#createへのパスを確認し、記載してください。 %>
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

        <div class="field">
          <%= f.label :"メールアドレス" %><br />
          <%= f.email_field :email, id: "email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :"パスワード（6文字以上）" %><br />
          <%= f.password_field :password, id: "user_password", autocomplete: "current-password" %>
        </div>

        <div class="field">
          <%= f.label :"パスワード再入力" %><br />
          <%= f.password_field :password, id: "user_password", autocomplete: "current-password" %>
        </div>

        <div class="field">
          <%= f.label :"ユーザー名" %><br />
          <%= f.text_field :user_name, id: "user_name", autocomplete: "user_name" %>
        </div>

        <div class="field">
          <%= f.label :profile, "プロフィール" %><br />
          <%= f.text_area :profile, id: "user_profile", rows: 2, cols: 50 %>
        </div>

        <div class="field">
          <%= f.label :affiliation, "所属" %><br />
          <%= f.text_area :affiliation, id: "user_affiliation", rows: 2, cols: 50 %>
        </div>

        <div class="field">
          <%= f.label :position, "役職" %><br />
          <%= f.text_area :position, id: "user_position", rows: 2, cols: 50 %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn %>
        </div>
      <% end %>
    </div>
  </div>
</div>